APP_NAME=InfraPulse Workstation Compliance Portal
APP_VERSION=2.0.0
ALLOWED_ORIGINS=
LOGS_DIR=../logs
USER_INFO_DIR=../user_info
SESSION_STORE_PATH=../user_info/sessions.json
DEFAULT_BRANCH_NAME=
DEFAULT_BRANCH_CODE=
DEFAULT_OFFICER_NAME=


# ALLOWED_ORIGINS=https://your-domain.com
# LOGS_DIR=/secure/log/path
# USER_INFO_DIR=/secure/report/path
# SESSION_STORE_PATH=/secure/report/path/sessions.json
# DEFAULT_BRANCH_NAME=
# DEFAULT_BRANCH_CODE=
# DEFAULT_OFFICER_NAME=